.top-navbar {
  //background: #05196B;
  //background-color: rgb(25, 73, 107);
  background-color:white;
  a, p {
    color:black;
    font-size:18px;

  }
  a {
    text-decoration: none;
  }
  .social-media-links, .top-navbar-text, .top-navbar-phone {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin:0 12px;
    }
  }
  .social-media-links {
    svg {
      height:24px;
      path {
        fill:#d9d9d9;
      }
    }
    @include media-breakpoint-down(md) {
      justify-content: start;
    }
  }
  .top-navbar-text {
    justify-content: start;
    svg {
      height:20px;
      margin-right:0.5rem;
      path {
        fill:#f45f16;
      }
    }
  }
  .top-navbar-phone {
    justify-content: end;
    svg {
      height:20px;
      margin-right:0.5rem;
      path {
        fill:#f45f16;
      }
    }
  }
}

.navbar-brand {
  img {
    max-height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.teammachine-navbar {
  .navbar-container {
    //display: flex;
    .main-menu-navigation {
      margin-left: auto;
      ul {
        display: flex;
        flex-direction: row;
        li  {
          a {
            text-transform: uppercase;
            margin:0;
            color:white;
            text-decoration: none;
            padding:1.5rem 1rem 1.5rem 3rem;
            display: block;
          }
        }
      }
      .sub-menu {
        display: none;
      }
    }
  }
}

.logged-in.admin-bar {
  .teammachine-navbar {
    //margin-top:32px;
  }

}

.offcanvas-body-menu {
  background:white;
  border-radius:4px;
  //box-shadow: 2px 2px 2px #ddd9d9;
  padding:0;
  margin-bottom:2rem;
  .toggle-sub-menu {
    position: absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    background: #e5efff;
    border: none;
    border-left:1px solid black;
    &.toggle-sub-menu-open {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  ul {
    list-style: none;
    padding:0;
    display: flex;
    flex-direction: column;
    margin-bottom:0;
    li {
      position: relative;
      padding-top:0.25px;
      padding-bottom:0.25px;
      svg {
        width:16px;
      }
      a {
        height: 50px;
        font-weight: 500;
        padding:.5rem 1rem;
        border-bottom: 1px solid #ddd9d9;
        //border-right:4px solid white;
        //border-left:4px solid white;
        color: #131313;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          margin-right:0.75rem;
        }
        &:hover {
          //background-color:#031d44;
          background-color:#101010;
          color:white;
        }
      }

      &.current-menu-item {
        > a {
          //color: #B35E14;
          //border-right: 4px solid orange;
          //border-left: 4px solid orange;
          //box-shadow: 0 0 5px #DDD;
          //background-color:#031d44;
          background-color:#101010;
          color:white;
        }
        //svg {
        //  path {
        //    fill:white;
        //  }
        //}
      }
      &.menu-item-has-children {
        ul.sub-menu {
          //background-color: #fbfbfb;
          display: none;
          li {
            a {
              //padding:.5rem 1rem 0.5rem 1rem;
              border-bottom: none;
              font-size:16px;
              font-weight: 500;
              padding-left:2rem;
              //border-right:4px solid #fbfbfb;
              //border-left:4px solid #fbfbfb;
              &:hover {
                //color:#B35E14;
                //border-right:4px solid orange;
                //border-left:4px solid orange;
                //box-shadow: 0 0 5px #DDD;
              }
            }
          }
          &.sub-menu-open {
            display:block;
            border-bottom: 1px solid;
            border-top: 1px solid;
          }
        }
      }
    }
  }

}