
$blue:      #4B92DB;
$yellow:    #ffc67d;
$orange:    #ff7200;
$red:       #C8102E;
$white:     #FFFFFF;
$silver:    #8A8D8F;
$grey:      #A2AAAD;
$black:     #1B1C1E;

$theme-colors: (
        "blue":   $blue,
        "yellow":  $yellow,
        "orange":  $orange,
        "white":  $white,
        "black":  $black,
        "silver":  $silver,
        "grey":  $grey,
        "red":  $red,
);
