
$blue:      #002b45;
$yellow:    #ffc67d;
$orange:    #ff7200;
$white:     #FFFFFF;
$black:     #000000;

$theme-colors: (
        "blue":   $blue,
        "yellow":  $yellow,
        "orange":  $orange,
        "white":  $white,
        "black":  $black,
);
