.block-footer-contact {
  p {
    //display: flex;
    //justify-content: start;
    //align-items: start;
    //gap: 1rem;
    //margin-bottom:1.5rem;
    svg {
      margin-bottom: 1rem;
      margin-top: 2rem;
      path {
        fill:#f55c5c;
      }
      //.fa-primary {
      //  fill:white;
      //}
      //.fa-secondary {
      //  //fill:#808080;
      //  fill:#f45f16;
      //  opacity:1;
      //}
    }
  }
}