.block-image-text {
  //padding-top:4rem;
  //padding-bottom:4rem;

  h2,h3,p {
    color:black;
  }

    img {
      width:100%;
      height: 100%;
      object-fit: cover;
      //border-radius:24px;
      //margin-right: 32px;
      //box-shadow: -16px 16px 0 #f45f1647;
    }

  .content-container {
    background-color: #f6ede4;
    padding:3rem 2rem;
    min-height: 100%;
  }

  .thing-list {
    svg {
      width: 28px;
      height: auto;
      margin-top: 5px;
      margin-right: 12px;
      path {
        fill: #f45f16;
      }
    }
  }
  &.background-dark {
    //background-color: #071432;
    background-color: #253d4e;
    h2,h3,p,a {
      color:white;
    }
    .img-cont {
      img {
        box-shadow:-16px 16px 0 #ff9d6d
      }
    }
  }
}