.block-image-cta {
  background-color:white;
  .btn {
    //background-color:#f45f16;
    background-color:#071432;
    //border-color:#f45f16;
    border-color:#071432;
    color:white;
    margin-top:2rem;
  }
}